.container-title{
    background: url(../images/background.svg) no-repeat right top 160px;
}

.hero__iner{
    width: 555px;
    padding-top: 152px;
    padding-bottom: 275px;
}

.hero__title {
    color: #0B132A;
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
}

.hero__paragraph{
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.hero__button{
    margin-top: 50px;
}
